<li class="cities_ul__li">
  <div class="cities_ul__title">
    {{name}}
  </div>
  <div class="cities_ul__controls">
    <a class="delete-city-js cities_ul__control" href="/api/v1/city/{{id}}">Удалить</a>
    <a class="update-city-js cities_ul__control" href="/api/v1/city/{{id}}">Изменить</a>
  </div>
</li>
