<form action="/user/login" method="POST" name="login" class="login-form">
  <input type="text" name="login" placeholder="Введите логин">
  <input type="password" name="password" placeholder="Введите пароль">
  <button type="submit">Авторизоваться</button>
  <div class="result-area"></div>
</form>
