<form action="/user/register" method="POST" name="registration" class="registration-form">
  <input type="text" name="login" required placeholder="Логин">
  <input type="password" name="password" required minlength="3" placeholder="Пароль">
  <input type="password" name="password2" required minlength="3" placeholder="Повторите пароль">
  <button type="submit">Зарегистрироваться</button>
  <div class="result-area"></div>
</form>
